.icon{ 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  border: 2px solid black;
  border-radius: 5px;
  padding: 2rem;

    fa-icon {
      font-size: 6rem;
    }
  
}

.generate-button {
  font-size: 2rem;
  border: 2px solid teal;
  border-radius: 5px;
  color: white;
  background: teal;
  padding: 10px 30px;
  cursor: pointer;
    &:hover {
      background: rgb(0, 95, 106);
    }
    &:active {
      background: rgb(1, 20, 12);
    }
}